* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

body{
    background: #0e2433;
    color: white;
}

header{
    position: fixed;
    top: 0 ; left: 0; right: 0;
    width: 100%;
    padding: 20px 10%;
    background:#041724;
    justify-content: space-between;
    display: flex;  
    align-items: center;
    z-index: 1000;
    border-radius: 15px;
}

header .logo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

header .logo span{
    color: #e5de00;
}

header .navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
}

header .navbar span{
    color: #e5de00;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    margin-left: 35px;
}

header .navbar a:hover{
    color: #e5de00;
}


.home{
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.home .h-content{
    max-width: 600px;
}

.home .h-content h1{
    color: #e5de00;
    position: relative;
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
}

.home .h-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home .h-content h3{
    position: relative;
    font-size: 25px;
    font-weight: 700;
    height: fit-content;
    padding-bottom: 2%;
    color: #ffffff;
}

.home .h-content h3::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home .h-content h4{
    font-size: 20px;
}

.home .h-content h4::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home .h-content p{
    position: relative;
    font-size: 16px;
}

.home .h-content p::before{
    content: '';
    position: absolute;
    top: 0%;
    right:0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home .h-symbol{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home .h-symbol a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #e5de00;
    border-radius: 50%;
    font-size: 20px;
    color: #e5de00;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    
}

.home .h-symbol a:hover{
    color: #0e2433;
    opacity: 1;
}

.home .h-symbol a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #e5de00;
    z-index: -1;
    transition: .5s;
}

.home .h-symbol a:hover::before{
    width: 100%;
}

@keyframes showRight{
    100%{
        width: 0;
    }
}

.about{
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about .a-content{
    max-width: 600px;
}

.about .a-content h1{
    color: #e5de00;
    position: relative; 
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
}

.about .a-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.about .a-content pre{
    align-items: center;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    top: 50px;
    height: fit-content;
    padding-bottom: 2%;
    color: #ffffff;
}

.about .a-content pre::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.contact{
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}


.contact{
    padding: 0 10%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact .c-content{
    max-width: 600px;
}

.contact .c-content h1{
    color: #e5de00;
    position: relative; 
    font-size: 58px;
    font-weight: 700;
    line-height: 1.2;
}

.contact .c-content h1::before{
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    background: #0e2433;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.contact .c-symbol a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    left: 50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border: 2px solid #e5de00;
    border-radius: 50%;
    font-size: 20px;
    color: #e5de00;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.contact .c-symbol a:hover{
    color: #0e2433;
    opacity: 1;
}

.contact .c-symbol a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #e5de00;
    z-index: -1;
    transition: .5s;
}

.contact .c-symbol a:hover::before{
    width: 100%;
}

